.bg-danger-hover:hover {
    background-color: var(--ct-danger) !important;
    color: #fff;
}

.bg-success-hover:hover {
    background-color: var(--ct-success) !important;
    color: #fff;
}

.bg-warning-hover:hover {
    background-color: var(--ct-warning) !important;
    color: #fff;
}

.bg-info-hover:hover {
    background-color: var(--ct-info) !important;
    color: #fff;
}

.bg-primary-hover:hover {
    background-color: var(--ct-primary) !important;
    color: #fff;
}

.bg-secondary-hover:hover {
    background-color: var(--ct-secondary) !important;
    color: #fff;
}

.bg-dark-hover:hover {
    background-color: var(--ct-dark) !important;
    color: #fff;
}

.bg-light-hover:hover {
    background-color: var(--ct-light) !important;
    color: #fff;
}

.bg-indigo-hover:hover {
    background-color: var(--ct-indigo) !important;
    color: #fff;
}